body{
    background-color: lightgray;
}

h1{
    text-align: center;
}

#chat{
    border-width: 10px;
    width: 70%;
    margin: auto;
}
@media only screen and (max-width: 768px) {
    #chat{
        border-width: 10px;
        width: 95%;
        margin: auto;
    }
}

#chat-input{
    border-radius: 5px;
}

#chat-window{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 400px;
}

.external-message{
    background-color: lightgray;
    width: 70%;
    border-radius: 7px;
    padding: 5px;
    margin: 5px;
}

.internal-message{
    background-color: lightgreen;
    width: 70%;
    margin: 5px;
    margin-left: 30%;
    text-align: right;
    border-radius: 7px;
    padding: 5px;
}

/* Messages style */
.message-p{
    margin: 0px;
    max-width: 100%;
    word-wrap: break-word;
    display:block;
}

.sender{
    font-weight: bold;
}

.timestamp{
    font-size: 70%;
}

.users-display{
    border-left: gray solid 2px;
    padding-top: 10px;
    padding-bottom: 10px;
}
@media only screen and (max-width: 768px) {
    .users-display{
        display: none;
    }
}

.messages-display{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    height:400px;
    width: 100%;
    max-width: 100%;
}

.row{
    height: 100%;
}

/* Input fields */
.input-container{
    display: flex;
    align-content: stretch;
    
}

#message-input{
    width: 100%;
    border-radius: 10px;
    border: white;
    height: 36px;
    align-content: stretch;
    margin: auto;
}

.send-button{
    margin-left: 5px;
}
